@model BookApplication.Domain.Domain.Book

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/Books/book_delete.css" asp-append-version="true" />

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Автор
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Biography)
        </dd>
        <dt class = "col-sm-2">
            Наслов
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            ISBN
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            Цена
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Слика
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverImage)
        </dd>
        <dt class = "col-sm-2">
            Година на издавање
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicatonYear)
        </dd>
        <dt class = "col-sm-2">
            Цврста корица
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHardcover)
        </dd>
        <dt class = "col-sm-2">
            Оценка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            Жанр
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            Издавачка куќа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Избриши" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
