@model BookApplication.Domain.Domain.Book

@{
    ViewData["Title"] = "Details - Book Shop";
}

<!-- Link the details.css -->
<link rel="stylesheet" href="~/css/Books/book_details.css" asp-append-version="true" />
<div class="text-center">
    <h4 class="display-4">Ииииии гледаш големи тајни!</h4>
    <p class="lead">Тајните на оваа книга, види ги сите нејзини карактеристики.</p>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Left side: Book Details -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">од @($"{Model.Author.FirstName} {Model.Author.LastName}")</p>
                    <div class="mt-4">
                        <dl class="row">
                            <dt class="col-sm-4">
                                ISBN
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ISBN)
                            </dd>
                            <dt class="col-sm-4">
                                Цена
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Price) ден.
                            </dd>
                            <dt class="col-sm-4">
                                Година на издавање
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.PublicatonYear)
                            </dd>
                            <dt class="col-sm-4">
                                Тврда корица
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.IsHardcover)
                                {
                                    <span class="emoji">✅</span>
                                }
                                else
                                {
                                    <span class="emoji">❌</span>
                                }
                            </dd>
                            <dt class="col-sm-4">
                                Оценка
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Rating)
                            </dd>
                            <dt class="col-sm-4">
                                Жанр
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Genre)
                            </dd>
                            <dt class="col-sm-4">
                                Издавачка куќа
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Publisher.Name)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card-footer text-center">
                     @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model?.Id">Измени</a>
                    }
                    <a class="btn btn-primary btn-sm" asp-action="Index">Назад</a>
                </div>
            </div>
        </div>

        <!-- Right side: Book Cover Image -->
        <div class="col-md-4">
            <div class="card">
                <img src="@Model.CoverImage" class="card-img-top" alt="Book Cover" style="max-height: 350px; object-fit: cover;">
            </div>
        </div>
    </div>
</div>