@model IEnumerable<BookApplication.Domain.Domain.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicatonYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHardcover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>Buy</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @($"{item.Author.FirstName} {item.Author.LastName}")
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @*  @Html.DisplayFor(modelItem => item.CoverImage)*@
                    <img class="card-img-top" src="@item.CoverImage" alt="Card image cap">


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicatonYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHardcover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <form asp-controller="ShoppingCarts" asp-action="AddToCart" method="post">
                    <input type="hidden" name="BookId" value="@item.Id" />
                    <input type="number" name="bookQuantity" min="1" value="1" class="form-control" style="width: 80px;" />
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
