@using BookApplication.Domain.Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    var booksInCart = ViewBag.BookInShoppingCart as List<BookInShoppingCart>;
    var totalprice = ViewBag.TotalPrice;
    var shoppingCartId = ViewBag.ShoppingCartId;
}

<link rel="stylesheet" href="~/css/Publishers/p_index.css" asp-append-version="true" />


<div class="text-center">
    <h4 class="display-4">Твојата кошничка!</h4>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Наслов</th>
        <th>Слика</th>
        <th>Количина</th>
        <th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bookInCart in booksInCart)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => bookInCart.Book.Title)
            </td>
            <td>
                <img src="@bookInCart.Book.CoverImage" style="width:200px" alt="Book image" />
            </td>
            <td>
@*                 @Html.DisplayFor(modelItem => bookInCart.Quantity) *@ 
                        <form asp-controller="ShoppingCarts" asp-action="EditBookQuantity" method="post">
                    <input type="hidden" name="BookInScId" value="@bookInCart.Id" />
                    <input type="number" name="BookQuantity" value="@bookInCart.Quantity" class="form-control" style="width: 80px;" />
                    <button type="submit" class="btn btn-primary btn-sc">Измени</button>
                </form>
            </td>
            <td>
                <p>@(bookInCart.Book.Price * bookInCart.Quantity) ден.<p>
            </td>
            <td>
                <a asp-action="RemoveBookFromCart" asp-route-id="@bookInCart.Id">Избриши</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h3>
    Вкупно: @totalprice.ToString("C", new System.Globalization.CultureInfo("mk-MK"))
</h3>

<form asp-controller="ShoppingCarts" asp-action="CreateOrder">
    <input type="hidden" name="Id" value="@shoppingCartId" />

    <div class="form-group">
        <label for="Street" class="form-text text-muted">Улица</label>
        <input type="text" id="Street" name="Street" class="form-control"/>
    </div>
 
    <div class="form-group">
        <label for="City" class="form-text text-muted">Град</label>
        <input type="text" id="City" name="City" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="Country" class="form-text text-muted">Држава</label>
        <input type="text" id="Country" name="Country" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="ZipCode" class="form-text text-muted">Поштенски број</label>
        <input type="text" id="ZipCode" name="ZipCode" class="form-control"/>
    </div>

    <input type="hidden" name="totalPrice" value="@totalprice" />

    <br/>
    <button type="submit" class="a btn btn-outline-secondary">Нарачај</button>
</form>

