@using BookApplication.Domain.Domain
@model IEnumerable<BookApplication.Domain.Domain.ShoppingCart>

@{
    ViewData["Title"] = "Index";
    var booksInCart = ViewBag.BookInShoppingCart as List<BookInShoppingCart>;
}
<h1>Books in Shopping Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var bookInCart in booksInCart)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => bookInCart.Book.Title)
                </td>
                <td>
                    <img src="@bookInCart.Book.CoverImage" alt="Book image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => bookInCart.Quantity)
                </td>
                <td>
                    <a asp-action="RemoveBookFromCart" asp-route-id="@bookInCart.Id">Remove</a>
                    <a asp-action="EditBookFromCart" asp-route-id="@bookInCart.Id">Edit</a> @*TODO*@
                </td>
            </tr>
        }
    </tbody>
</table>
