@using BookApplication.Domain.Domain
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model BookApplication.Domain.Domain.Order

@{
    ViewBag.Title = "Order Details";
    var totalPrice = ViewBag.TotalPrice;
    var ShoppingCartId = ViewBag.ShoppingCartId;
    var booksInOrder = ViewBag.booksInOrder as List<BookInOrder>;

}

<div class="container mt-5">
    <h2>Детали за нарачка</h2>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Информации за корисник</h4>
            <p><strong>Email:</strong> @Model.User?.Email</p> 
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Адреса</h4>
            <p><strong>Street:</strong> @Model.Address?.Street</p>
            <p><strong>City:</strong> @Model.Address?.City</p>
            <p><strong>State:</strong> @Model.Address?.Country</p>
            <p><strong>Zip Code:</strong> @Model.Address?.ZipCode</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Преглед на кошничка</h4>
            <p><strong>Total Price:</strong> @totalPrice</p>
            <h5 class="mt-3">Книги во кошничка:</h5>
            <ul class="list-group">
                @foreach (var book in booksInOrder)
                {
                    <li class="list-group-item">
                        <p><b>@book.Book.Title</b></p>
                        <span class="text-muted">Количина: @book.Quantity</span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="mt-4">
        <a href="/Books" class="btn btn-primary">Продолжи со пазарење</a>
    </div>
</div>
