@model Order
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice) MKD
        </dd>
    </dl>
</div>

<table style="width: 100%; border-collapse: collapse; text-align: left; margin: 20px 0;">
    <thead>
    <tr style="background-color: #f4f4f4; border-bottom: 2px solid #ddd;">
        <th>
            Book Title
        </th>
        <th>
            Author
        </th>
        <th>
            Quantity
        </th>
    </tr>
    </thead>
    @foreach (var item in Model.BooksInOrder)
    {
        <tr style="border-bottom: 1px solid #ddd;">
            <td>
                @item.Book.Title
            </td>
            <td>
                @item.Book.Author.FirstName 
            </td>
            <td>
                @item.Quantity
            </td>
        </tr>
    }
</table>