@model Order
@{
    ViewData["Title"] = "Order Details";
}

<h1 class="mb-4">Order Details</h1>

<div class="card mb-4">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0">Order Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OrderDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.OrderDate)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.UserName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.User.UserName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TotalPrice)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalPrice) MKD</dd>
        </dl>
    </div>
</div>

<h4 class="mb-3">Books in Order</h4>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BooksInOrder)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Book.Author.FirstName</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to Orders</a>
    <a asp-action="CreateInvoice" asp-route-id="@Model.Id" class="btn btn-success">Generate Invoice</a>
</div>
