@using static System.Runtime.InteropServices.JavaScript.JSType
@model IEnumerable<BookApplication.Domain.Domain.Publisher>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Publishers/p_index.css" asp-append-version="true" />

<div class="text-center">
    <h4 class="display-4">Што мислиш за овие издавачки куќа...?</h4>
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Додади</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Мејл
            </th>
            <th>
                Вебстрана
            </th>
            <th>
                Телефон
            </th>
            <th>
                Адреса
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    @{
                        var address = item.Address;
                        var addressString = (address != null) ?
                        string.Join(", ", address.Street, address.City, address.Country) :
                        "No Address Available";
                    }
                    @addressString
                </td>
            <td colspan="3">
                <a asp-action="Edit" class="btn-a" asp-route-id="@item.Id">Измени</a> |
                <a asp-action="Details" class="btn-a" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" class="btn-a" asp-route-id="@item.Id">Избриши</a>
            </td>
        </tr>
}
    </tbody>
</table>
